---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../components/Hero';
import Section from '../components/Section';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero client:load />
  </main>
</Layout>
